name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  phpunit:
    name: Run tests PHP ${{ matrix.php }} Symfony ${{ matrix.symfony }} ${{ matrix.dependency }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

      matrix:
        php:
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
        symfony:
          - '3.*'
          - '4.*'
          - '5.*'
          - '6.*'
        dependency:
          - 'highest'
        include:
          - { php: '7.1', symfony: '3.*', dependency: 'lowest' }
        exclude:
          - { php: '8.0', symfony: '3.*' }
          - { php: '8.1', symfony: '3.*' }
          - { php: '8.2', symfony: '3.*' }
          - { php: '8.3', symfony: '3.*' }
          - { php: '7.1', symfony: '5.*' }
          - { php: '7.1', symfony: '6.*' }
          - { php: '7.2', symfony: '6.*' }
          - { php: '7.3', symfony: '6.*' }
          - { php: '7.4', symfony: '6.*' }
          - { php: '8.0', symfony: '6.*' }

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: flex

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
        with:
          dependency-versions: ${{ matrix.dependency }}

      - name: Run tests
        run: composer test
